* {
    font-family: 'Roboto';
}

body {
    margin: 0;
}
.logo {
    width: 150px;
    color: white;
}

.header , .introduction, .content, .movies , .quote-part{
    padding: 0px 100px
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1f2937;
    padding-bottom: 50px;
}

.header-links {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header-links a {
    color: white;
    text-decoration: none;
    padding: 8px;
}

.introduction {
    display: flex;
    background: #1f2937;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    gap: 64px;
}

.introduction h1, .introduction p {
    color: white;
    width: 600px;
}

.introduction p {
    font-size: 18px;
}

.miyazaki-picture {
    width: 400px;    
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content p {
    font-size: 18px;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie-card {    
    border: 1px solid #eee;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 4px;
    width: 300px;
    padding: 16px;
    margin: 16px;
    display: flex;
    flex-direction: column;
}

.movie-poster {
    height: 400px;
}

.quote-part {
    display: flex;
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
    padding: 100px;
    padding-bottom: 150px;
}

.quote {
    display: flex;
    flex-direction: column;
}

.quote h2 {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    margin-bottom: 0px;
}

.quote h3 {
    align-self: flex-end;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #1f2937;
    padding: 8px;
}

.footer * {
    margin: 0;
    color: white;
}